@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,600;1,100;1,300;1,400;1,600&display=swap');
* {
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}
h1, h2 .title {
	justify-content: center;
	text-align: center;
	color: #ffffff;
	position: fixed;
	font-size: 24px;
}
body {
	background-size: 100%;
	background-color: #000000;
}
.sun {
	background-image: url(/planets/img/sun1.png);
	width: 120px;
	height: 120px;
	border-radius: 50%;
	background-size: cover;
	box-shadow: 0 0 45px #F8BF41;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
p {
	position: absolute;
	font-weight: 600;
	text-decoration: underline;
	background-color: #000000;
}
.mercury {
	background-image: url(/planets/img/mercury1.png);
	width: 25px;
	height: 25px;
	background-size: cover;
	border-radius: 50%;
	position: absolute;
	box-shadow: 0 0 25px #746B95;
	left: 45%;
	top: 46%;
	transform: translate(-50%, -50%);
	animation: orbiting 2s linear infinite;
	z-index: 10;
}
@keyframes orbiting {
	from{transform: rotate(0deg)translateX(100px) rotate(0deg);}
	to{transform: rotate(360deg)translateX(100px) rotate(-360deg);}
}
.mercury-orbit{
	border-radius: 50%;
	border: 1px solid #746B95;
	top: 50%;
	left: 50%;
	height: 200px;
	width: 200px;
	transform: translate(-50%, -50%);
	position: absolute;
}
#mercury {
	color: #746B95;
	font-size: 12px;
	margin: 10px;
}
.venus {
	background-image: url(/planets/img/venus1.png);
	width: 50px;
	height: 50px;
	background-size: cover;
	border-radius: 50%;
	position: absolute;
	box-shadow: 0 0 25px #E0892F;
	left: 43%;
	top: 43%;
	transform: translate(-50%, -50%);
	animation: orbiting2 10s linear infinite;
	z-index: 10;
}
#venus {
	color: #E0892F;
	margin: 25px;
	padding: 5px;
	font-size: 15px;
}
.venus-orbit {
	border-radius: 50%;
	border: 2px solid #E0892F;
	top: 50%;
	left: 50%;
	height: 320px;
	width: 320px;
	transform: translate(-50%, -50%);
	position: absolute;
}
@keyframes orbiting2 {
	from{transform: rotate(0deg)translateX(160px) rotate(0deg);}
	to{transform: rotate(360deg)translateX(160px) rotate(-360deg);}
}
.earth {
	background-image: url(/planets/img/earth1.png);
	width: 75px;
	height: 75px;
	background-size: cover;
	border-radius: 50%;
	position: absolute;
	box-shadow: 0 0 25px #167C4F;
	left: 43%;
	top: 43%;
	transform: translate(-50%, -50%);
	animation: orbiting3 18s linear infinite;
	z-index: 20;
}
#earth {
	color: #167C4F;
	margin: 30px;
	padding: 5px;
	font-size: 18px;
}
.earth-orbit {
	border-radius: 50%;
	border: 3px dotted #167C4F;
	top: 50%;
	left: 50%;
	height: 440px;
	width: 440px;
	transform: translate(-50%, -50%);
	position: absolute;
}
@keyframes orbiting3 {
	from{transform: rotate(0deg)translateX(220px) rotate(0deg);}
	to{transform: rotate(360deg)translateX(220px) rotate(-360deg);}
}
.jupiter {
	background-image: url(/planets/img/jupiter1.png);
	width: 90px;
	height: 90px;
	background-size: cover;
	border-radius: 50%;
	position: absolute;
	box-shadow: 0 0 25px #C3252D;
	left: 43%;
	top: 43%;
	transform: translate(-50%, -50%);
	animation: orbiting4 30s linear infinite;
	z-index: 20;
}
#jupiter {
	color: #C3252D;
	margin: 60px;
	font-size: 20px;
	padding: 5px;
}
.jupiter-orbit {
	border-radius: 50%;
	border: 4px dotted #C3252D;
	top: 50%;
	left: 50%;
	height: 650px;
	width: 650px;
	transform: translate(-50%, -50%);
	position: absolute;
}
@keyframes orbiting4 {
	from{transform: rotate(0deg)translateX(325px) rotate(0deg);}
	to{transform: rotate(360deg)translateX(325px) rotate(-360deg);}
}
.saturn {
	background-image: url(/planets/img/saturn1.png);
	width: 85px;
	height: 85px;
	background-size: cover;
	border-radius: 50%;
	position: absolute;
	box-shadow: 0 0 25px #CDA056;
	left: 45%;
	top: 45%;
	transform: translate(-50%, -50%);
	animation: orbiting5 45s linear infinite;
	z-index: 20;
}
#saturn {
	color: #CDA056;
	margin: 70px;
	font-size: 24px;
}
.saturn-orbit {
	border-radius: 50%;
	border: 5px dotted #CDA056;
	top: 50%;
	left: 50%;
	height: 850px;
	width: 850px;
	transform: translate(-50%, -50%);
	position: absolute;
}
@keyframes orbiting5 {
	from{transform: rotate(0deg)translateX(425px) rotate(0deg);}
	to{transform: rotate(360deg)translateX(425px) rotate(-360deg);}
}
.uranus {
	background-image: url(/planets/img/uranus1.png);
	width: 50px;
	height: 50px;
	background-size: cover;
	border-radius: 50%;
	position: absolute;
	box-shadow: 0 0 25px #38AADF;
	left: 47%;
	top: 48%;
	transform: translate(-50%, -50%);
	animation: orbiting6 70s linear infinite;
	z-index: 20;
}
#uranus {
	color: #38AADF;
	margin: 90px;
	font-size: 26px;
}
.uranus-orbit {
	border-radius: 50%;
	border: 6px dotted #38AADF;
	top: 50%;
	left: 50%;
	height: 1000px;
	width: 1000px;
	transform: translate(-50%, -50%);
	position: absolute;
}
@keyframes orbiting6 {
	from{transform: rotate(0deg)translateX(500px) rotate(0deg);}
	to{transform: rotate(360deg)translateX(500px) rotate(-360deg);}
}
.neptune {
	background-image: url(/planets/img/neptune1.png);
	width: 50px;
	height: 50px;
	background-size: cover;
	border-radius: 50%;
	position: absolute;
	box-shadow: 0 0 25px #1D6093;
	left: 48%;
	top: 48%;
	transform: translate(-50%, -50%);
	animation: orbiting7 85s linear infinite;
	z-index: 20;
}
#neptune {
	color: #1D6093;
	margin: 110px;
	font-size: 30px;
}
.neptune-orbit {
	border-radius: 50%;
	border: 8px dotted #1D6093;
	top: 50%;
	left: 50%;
	height: 1200px;
	width: 1200px;
	transform: translate(-50%, -50%);
	position: absolute;
}
@keyframes orbiting7 {
	from{transform: rotate(0deg)translateX(600px) rotate(0deg);}
	to{transform: rotate(360deg)translateX(600px) rotate(-360deg);}
}
nav{
  float: left; 
	position: absolute;
	margin: auto;
}
nav ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
nav li{  
  float: none; 
  width: 50%;
  margin-bottom: 3px;
  background: rgb(0, 0, 0);
	z-index: 150;
	max-width: 600px;
	min-width: 200px;
	max-height: 60px;
	min-height: 40px;
}
nav li a{
  display: block; 
	width: 50%;
	max-width: 400px;
	min-width: 200px;
	max-height: 50px;
	min-height: 40px;
  padding: 20px; 
  border-left: 5px solid; 
	font-size: 150%;
	font-weight: 600;
	text-align: left;
  position: relative; 
  z-index: 150;
  text-decoration: none;
  color: #d4d4d4d5;
	z-index: 50;
  box-sizing: border-box;  
  -moz-box-sizing: border-box;  
  -webkit-box-sizing: border-box; 
  transition: all 0.3s ease 0s; 
  -webkit-transition: all 0.3s ease 0s; 
}
nav li:nth-child(1) a{ color: #746B95; }
nav li:nth-child(2) a{ color: #E0892F; }
nav li:nth-child(3) a{ color: #167C4F; }
nav li:nth-child(4) a{ color: #C3252D; }
nav li:nth-child(5) a{ color: #CDA056; }
nav li:nth-child(6) a{ color: #38AADF; }
nav li:nth-child(7) a{ color: #1D6093; }

nav li a i { font-size:0.5em; }
nav li a:hover{ border-bottom: 0px; color: #fff; }
nav li:nth-child(1) a{ border-left: 10px solid #746B95; }
nav li:nth-child(2) a{ border-left: 10px solid #E0892F; }
nav li:nth-child(3) a{ border-left: 10px solid #167C4F; }
nav li:nth-child(4) a{ border-left: 10px solid #C3252D; }
nav li:nth-child(5) a{ border-left: 10px solid #CDA056; }
nav li:nth-child(6) a{ border-left: 10px solid #38AADF; }
nav li:nth-child(7) a{ border-left: 10px solid #1D6093; }
nav li a:after { 
  content: "";
  height: 100%; 
  left: 0; 
  top: 0; 
  width: 0px;  
  position: absolute; 
  transition: all 0.3s ease 0s; 
  -webkit-transition: all 0.3s ease 0s; 
  z-index: -1;
}
nav li a:hover:after{ width: 100%; }
nav li:nth-child(1) a:after{ background: #746B95; }
nav li:nth-child(2) a:after{ background: #E0892F; }
nav li:nth-child(3) a:after{ background: #167C4F; }
nav li:nth-child(4) a:after{ background: #C3252D; }
nav li:nth-child(5) a:after{ background: #CDA056; }
nav li:nth-child(6) a:after{ background: #38AADF; }
nav li:nth-child(7) a:after{ background: #1D6093; }

.wrapper{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: "a a a a b b b b";
	justify-content: start;
}
.planet-text {
	color: white;
	text-decoration: none;
	text-align: justify;
	margin-top: 25vh;
}
.left {
	grid-area: a;
	position: relative;
	width: 40vh;
	height: 100%;
	padding: 40px;
	z-index: 10;
}
.right {
	grid-area: b;
	width: 50%;
	height: 100%;
	position: relative;
	margin: 25vh 50vh;
}
figcaption {
	color: white;
	margin-top: 90vh;
	position: absolute;
	font-size: 20px;
}
cite {
	font-style: normal;
}
cite a {
	font-weight: 600;
	text-decoration: none;
}
#mercury-cite a {
	color: #746B95;
}
#venus-cite a {
	color: #E0892F;
}
#earth-cite a {
	color: #167C4F;
}
#jupiter-cite a {
	color: #C3252D;
}
#saturn-cite a {
	color: #CDA056;
}
#uranus-cite a {
	color: #38AADF;
}
#neptune-cite a {
	color: #1D6093;
}
