@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,600;1,100;1,300;1,400;1,600&display=swap');
* {
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}
h1, h2 .title {
	justify-content: center;
	text-align: center;
	color: #ffffff;
	position: fixed;
	font-size: 24px;
}
body {
	background-size: 100%;
	background-color: #000000;
}
.sun {
	background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS7w2q3v30Q5gWTajoC0TOXiAvECxNdc6pRdA&usqp=CAU);
	width: 120px;
	height: 120px;
	object-fit: none;
	border-radius: 50%;
	background-size: cover;
	background-position: center;
	box-shadow: 0 0 45px #F8BF41;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
p {
	position: absolute;
	font-weight: 600;
	text-decoration: underline;
	background-color: #000000;
}
.mercury {
	background-image: url(https://i.etsystatic.com/21476788/r/il/ed0612/2060987262/il_794xN.2060987262_54n1.jpg);
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background-position: center;
	background-size: cover;
	position: absolute;
	box-shadow: 0 0 25px #746B95;
	left: 45%;
	top: 46%;
	transform: translate(-50%, -50%);
	animation: orbiting 2s linear infinite;
	z-index: 10;
}
@keyframes orbiting {
	from{transform: rotate(0deg)translateX(100px) rotate(0deg);}
	to{transform: rotate(360deg)translateX(100px) rotate(-360deg);}
}
.mercury-orbit{
	border-radius: 50%;
	border: 1px solid #746B95;
	top: 50%;
	left: 50%;
	height: 200px;
	width: 200px;
	transform: translate(-50%, -50%);
	position: absolute;
}
#mercury {
	color: #746B95;
	font-size: 12px;
	margin: 10px;
}
.venus {
	background-image: url(https://i.etsystatic.com/21476788/r/il/f434cc/2060987354/il_794xN.2060987354_5mal.jpg);
	width: 50px;
	height: 50px;
	background-position: center;
	background-size: cover;
	border-radius: 50%;
	position: absolute;
	box-shadow: 0 0 25px #E0892F;
	left: 43%;
	top: 43%;
	transform: translate(-50%, -50%);
	animation: orbiting2 10s linear infinite;
	z-index: 10;
}
#venus {
	color: #E0892F;
	margin: 25px;
	padding: 5px;
	font-size: 15px;
}
.venus-orbit {
	border-radius: 50%;
	border: 2px solid #E0892F;
	top: 50%;
	left: 50%;
	height: 320px;
	width: 320px;
	transform: translate(-50%, -50%);
	position: absolute;
}
@keyframes orbiting2 {
	from{transform: rotate(0deg)translateX(160px) rotate(0deg);}
	to{transform: rotate(360deg)translateX(160px) rotate(-360deg);}
}
.mars {
	background-image: url(https://i.etsystatic.com/21476788/r/il/5148f3/2060987430/il_794xN.2060987430_7c3n.jpg);
	width: 50px;
	height: 50px;
	background-position: center;
	background-size: cover;
	border-radius: 50%;
	position: absolute;
	box-shadow: 0 0 25px #CB2639;
	left: 44%;
	top: 44%;
	transform: translate(-50%, -50%);
	animation: orbiting8 15s linear infinite;
	z-index: 10;
}
#mars {
	color: #CB2639;
	margin: 25px;
	padding: 5px;
	font-size: 15px;
}
.mars-orbit {
	border-radius: 50%;
	border: 3px solid #CB2639;
	top: 50%;
	left: 50%;
	height: 450px;
	width: 450px;
	transform: translate(-50%, -50%);
	position: absolute;
}
@keyframes orbiting8 {
	from{transform: rotate(0deg)translateX(225px) rotate(0deg);}
	to{transform: rotate(360deg)translateX(225px) rotate(-360deg);}
}
.earth {
	background-image: url(https://i.etsystatic.com/21476788/r/il/9c835a/2060987330/il_794xN.2060987330_neej.jpg);
	width: 75px;
	height: 75px;
	background-position: center;
	background-size: cover;
	border-radius: 50%;
	position: absolute;
	box-shadow: 0 0 25px #167C4F;
	left: 44%;
	top: 44%;
	transform: translate(-50%, -50%);
	animation: orbiting3 18s linear infinite;
	z-index: 20;
}
#earth {
	color: #167C4F;
	margin: 50px;
	padding: 5px;
	font-size: 18px;
}
.earth-orbit {
	border-radius: 50%;
	border: 3px dotted #167C4F;
	top: 50%;
	left: 50%;
	height: 600px;
	width: 600px;
	transform: translate(-50%, -50%);
	position: absolute;
}
@keyframes orbiting3 {
	from{transform: rotate(0deg)translateX(300px) rotate(0deg);}
	to{transform: rotate(360deg)translateX(300px) rotate(-360deg);}
}
.jupiter {
	background-image: url(https://i.etsystatic.com/21476788/r/il/e52281/2060987364/il_794xN.2060987364_8ptw.jpg);
	width: 90px;
	height: 90px;
	background-position: center;
	background-size: cover;
	border-radius: 50%;
	position: absolute;
	box-shadow: 0 0 25px #C3252D;
	left: 45%;
	top: 44%;
	transform: translate(-50%, -50%);
	animation: orbiting4 10s linear infinite;
	z-index: 20;
}
#jupiter {
	color: #C3252D;
	margin: 60px;
	font-size: 20px;
	padding: 5px;
}
.jupiter-orbit {
	border-radius: 50%;
	border: 4px dotted #C3252D;
	top: 50%;
	left: 50%;
	height: 750px;
	width: 750px;
	transform: translate(-50%, -50%);
	position: absolute;
}
@keyframes orbiting4 {
	from{transform: rotate(0deg)translateX(375px) rotate(0deg);}
	to{transform: rotate(360deg)translateX(375px) rotate(-360deg);}
}
.saturn {
	background-image: url(https://i.etsystatic.com/21476788/r/il/f5c892/2108563945/il_794xN.2108563945_emiw.jpg);
	width: 85px;
	height: 85px;
	background-position: center;
	background-size: cover;
	border-radius: 50%;
	position: absolute;
	box-shadow: 0 0 25px #CDA056;
	left: 46%;
	top: 45%;
	transform: translate(-50%, -50%);
	animation: orbiting5 45s linear infinite;
	z-index: 20;
}
#saturn {
	color: #CDA056;
	margin: 80px;
	font-size: 24px;
}
.saturn-orbit {
	border-radius: 50%;
	border: 5px dotted #CDA056;
	top: 50%;
	left: 50%;
	height: 1000px;
	width: 1000px;
	transform: translate(-50%, -50%);
	position: absolute;
}
@keyframes orbiting5 {
	from{transform: rotate(0deg)translateX(500px) rotate(0deg);}
	to{transform: rotate(360deg)translateX(500px) rotate(-360deg);}
}
.uranus {
	background-image: url(https://i.etsystatic.com/21476788/r/il/cb3315/2060987358/il_794xN.2060987358_g8lj.jpg);
	width: 50px;
	height: 50px;
	background-size: cover;
	background-position: center;
	border-radius: 50%;
	position: absolute;
	box-shadow: 0 0 25px #38AADF;
	left: 48%;
	top: 48%;
	transform: translate(-50%, -50%);
	animation: orbiting6 70s linear infinite;
	z-index: 20;
}
#uranus {
	color: #38AADF;
	margin: 110px;
	font-size: 26px;
}
.uranus-orbit {
	border-radius: 50%;
	border: 6px dotted #38AADF;
	top: 50%;
	left: 50%;
	height: 1200px;
	width: 1200px;
	transform: translate(-50%, -50%);
	position: absolute;
}
@keyframes orbiting6 {
	from{transform: rotate(0deg)translateX(600px) rotate(0deg);}
	to{transform: rotate(360deg)translateX(600px) rotate(-360deg);}
}
.neptune {
	background-image: url(https://i.etsystatic.com/21476788/r/il/c50d99/2060987334/il_794xN.2060987334_gyoq.jpg);
	width: 50px;
	height: 50px;
	background-size: cover;
	background-position: center;
	border-radius: 50%;
	position: absolute;
	box-shadow: 0 0 25px #1D6093;
	left: 48.5%;
	top: 48.5%;
	transform: translate(-50%, -50%);
	animation: orbiting7 85s linear infinite;
	z-index: 20;
}
#neptune {
	color: #1D6093;
	margin: 130px;
	font-size: 30px;
}
.neptune-orbit {
	border-radius: 50%;
	border: 8px dotted #1D6093;
	top: 50%;
	left: 50%;
	height: 1400px;
	width: 1400px;
	transform: translate(-50%, -50%);
	position: absolute;
}
@keyframes orbiting7 {
	from{transform: rotate(0deg)translateX(700px) rotate(0deg);}
	to{transform: rotate(360deg)translateX(700px) rotate(-360deg);}
}
.wrapper{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: "a a a a b b b b";
	justify-content: start;
}
.planet-text {
	color: white;
	text-decoration: none;
	text-align: justify;
	margin-top: 25vh;
}
.left {
	grid-area: a;
	position: relative;
	width: 40vh;
	height: 100%;
	padding: 40px;
	z-index: 10;
}
.right {
	grid-area: b;
	width: 50%;
	height: 100%;
	position: relative;
	margin: 25vh 50vh;
}
figcaption {
	color: white;
	margin-top: 90vh;
	position: absolute;
	font-size: 20px;
}
cite {
	font-style: normal;
}
cite a {
	font-weight: 600;
	text-decoration: none;
}
#mercury-cite a {
	color: #746B95;
}
#venus-cite a {
	color: #E0892F;
}
#earth-cite a {
	color: #167C4F;
}
#jupiter-cite a {
	color: #C3252D;
}
#saturn-cite a {
	color: #CDA056;
}
#uranus-cite a {
	color: #38AADF;
}
#neptune-cite a {
	color: #1D6093;
}
